# Byte-compiled / cached files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs and debug files
*.log
debug.log

# IDE settings
.vscode/
.idea/
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MyPy cache
.mypy_cache/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
*.cover

# Docker
docker-compose.override.yml

# Environment variables
.env
*.env

# Database files
*.sqlite3
*.db
